NEXT_PUBLIC_SITE_URL=
NEXT_PUBLIC_CONTACT_EMAIL=
NEXT_PUBLIC_LEGAL_OWNER="Lidia Villanueva Bolívar"
NEXT_PUBLIC_LEGAL_TAX_ID=
NEXT_PUBLIC_LEGAL_ADDRESS=
NEXT_PUBLIC_LEGAL_HOSTING=
NEXT_PUBLIC_LEGAL_EMAIL_PROVIDER=
